<!DOCTYPE html>
<html lang="en">
  <head>
    <% pageName = "Contest"; %>
    <%- include('./partials/head') %>
    <style>
      .sidebar{
        margin-top: 1em;
      }
    </style>
  </head>
  <body>
    

    <%- include('partials/topbar') %>

    <div class="container">
      <div class="row">
        
      <%- include('partials/contestsidebar') %>
    
        <!-- Main Content -->
        <main class="col-md-9 main-content">
          <!-- Include the tray for applied filter and navigation -->
          <%- include('partials/tray') %>
        
          <!-- Placeholder for post results -->
          <div id="post-results" class="my-3 p-3 bg-body rounded shadow-sm">
            <% posts.forEach(post => { %>
              <%- include('partials/dreamForContest', { post }) %>
            <% }); %>
          </div>
        </main>
        
        
      </div>
    </div>
    
    
   
    <%- include('partials/footer') %>
    
  </body>
</html>
