<!DOCTYPE html>
<html lang="en">
  <head>
    <%pageName = 'New Dream';%>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%- include('partials/head') %>
  
  </head>

  <body class="bg-body-primary">

    <%- include('partials/topbar') %>

    <div class="container">
      <div class="row">
        
        <%- include('partials/dreamsidebar') %>


        <main class="col-md-9 main-content flex-column">
          
          <%- include('partials/contestEntryForm') %>
        
          
        </main>

        </div>
        </div>

        
        <%- include('partials/footer') %>
        
  
      
  </body>
</html>