<!DOCTYPE html>
<html lang="en">
  <head>
    <% pageName = "Dreams: "+appliedFilter; %>
    <%- include('./partials/head') %>
    <style>
      .rounded-custom {
    border-radius: 25%;
  }

  .fs-5 {
    font-size: 1.25rem;
  }
    </style>
  </head>
  <body>
    <%- include('partials/topbar') %>

    <div class="container">
      <div class="row">
        
      <%- include('partials/dreamsidebar') %>
    
        <!-- Main Content -->
        <main class="col-md-9 main-content">
          <!-- Include the tray for applied filter and navigation -->
          <%- include('partials/tray') %>
        
          <!-- Placeholder for post results -->
          <div id="post-results" class="my-3 p-3 bg-body rounded shadow-sm">
            <% if (posts.length > 0) { %>
              <% posts.forEach(post => { %>
                <%- include('partials/dreamPostForDreamlist', { post }) %>
              <% }); %>
            <% } else { %>
              <%- include('partials/emptyPost') %>
            <% } %>
          </div>
        </main>
        
        
      </div>
    </div>
    <%- include('partials/footer') %>
    
     <script>
      const isLoggedIn = ' <%= isLoggedIn %>';

      document.getElementById('create-post-form').addEventListener('submit', function (e) {
      if (!isLoggedIn) {
        const confirm =confirm('You need to be logged in to create a post.');
        if(confirm){
          window.location.href = '/signin';
        } else {
          e.preventDefault();
        }
      }
    });
    </script>
    
  </body>
</html>
