<!DOCTYPE html>

<html lang="en">
  <head>
    <% pageName = "Edit Post"; %>
    <%- include('./partials/head') %>
  </head>

  <body>

    <%- include('partials/topbar') %>

    <div class="container">
      <div class="row">
        
      <%- include('partials/dreamsidebar') %>
    
        <!-- Main Content -->
        <main class="col-md-9 main-content">
          
          <%- include('partials/dreamedit', { post }) %>
        
          
        
        
          
        </main>
        
        
      </div>
    </div>
      <%- include('partials/footer') %>
      
    </body>
    
    </html>
    