<!DOCTYPE html>
<html lang="en">
    <head>
        <%pageName = profileUser.username+"'s Favorites";%>    
        <%- include('./partials/head') %>
    </head>
    <body>

        <%- include('partials/topbar') %>
        
        <div class="container">
            <div class="main-body">
                  <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4><%=profileUser.username %></h4>
                                <p class="text-muted font-size-sm"><%=profileUser.bio %></p>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                   
    
                    <div class="col-md-8">
                        <div class="container rounded bg-white mt-5 mb-5">
                            <div class="row justify-content-center">
                              <div class="col-md-8">
                                <h2 class="my-4 text-center">My Favorites</h2>
                                <div id="post-results" class="my-3 p-3 bg-body rounded shadow-sm">
                                  <% if (posts.length > 0) { %>
                                    <% posts.forEach(post => { %>
                                      <%- include('partials/dreamForProfile', { post: post }) %>
                                    <% }); %>
                                  <% } else { %>
                                    <%- include('partials/emptyPost') %>
                                  <% } %>
                                </div>
                              </div>
                            </div>
                          </div>
                  </div>
        <%- include('partials/footer') %>
    
    </body>
    
</html>