<!DOCTYPE html>

<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>

  <body>

    <%- include('partials/topbar') %>

    <div class="container">
      <div class="row">
        
      <%- include('partials/dreamsidebar') %>
    
        <!-- Main Content -->
        <main class="col-md-9 main-content">
          
          <%- include('partials/postadream') %>
        
          
        </main>
        
        
      </div>
    </div>
       <script>
        const logged = '<%= isLoggedIn %>';
        const username = '<%= username %>';
        
        document.getElementById('create-post-form').addEventListener('submit', async (e) => {
          e.preventDefault();
          if (!logged) {
          alert('You need to be logged in to create a post.');
          return;
        }
          const formData = new FormData();
          
          formData.append('author', username);
          formData.append('title', document.getElementById('title').value);
          formData.append('content', document.getElementById('content').value);
          formData.append('category', document.getElementById('category').value);
          formData.append('allowComments', document.getElementById('allowComments').checked);          
          const imageFile = document.getElementById('dreamimage').files[0];
          if (imageFile) {
            formData.append('image', imageFile);
          } else {
            formData.append('imageUrl', document.getElementById('imageUrl').value);
          }
    
          const res = await fetch('/create_post/create', {
            method: 'POST',
            body: formData,
          });
    
          if (res.ok) {
            window.location.href = '/dreamList'; // Redirect to dreamList page
          } else {
            const data = await res.json();
            alert(data.message || 'Post creation failed');
          }
        });
      </script>
    </body>
    
    </html>
    