<div class="nav-scroller py-1 mb-4 border-bottom">
    <nav class="nav nav-underline justify-content-around">
        <a class="nav-item nav-link link-body-emphasis <%= (currentPath === '/' ? 'active' : '') %>" href="/">Home</a>
        <a class="nav-item nav-link link-body-emphasis <%= (currentPath === '/dreamList' ? 'active' : '') %> " href="/dreamList">Dreams</a> 
        <a class="nav-item nav-link link-body-emphasis <%= (currentPath === '/contest' ? 'active' : '') %>" href="#">Contest</a>
        <% if (user && user.username) { %>
            <a class="nav-item nav-link link-body-emphasis <%= (currentPath === '/about' ? 'active' : '') %>" href="/about/<%= user.username %>">About</a>
        <% } else { %>
            <a class="nav-item nav-link link-body-emphasis <%= (currentPath === '/about' ? 'active' : '') %>" href="/about/guest">About</a>
        <% } %>
        
    </nav>
</div>