  <div class="post-container">

    <div class="post-header d-flex">

      <div class="post-picture">
        <% if (post.image) { %>
          <img src="data:image/jpeg;base64,<%= post.image.toString('base64') %>" alt="Post Picture" class="img-fluid rounded" style="width: 100px; height: 100px; object-fit: cover;">
        <% } else { %>
          <img src="/photos/thumbnail.png" alt="Default Picture" class="img-fluid rounded" style="width: 100px; height: 100px; object-fit: cover;">
        <% } %>
      </div>
      


      <div class="post-details ms-3">
        <h3 class="post-title mb-1"><%= post.title %></h3>
        <p class="post-meta text-muted mb-1">
          By <a href="/profile/<%= post.author.username%>"><strong><%= post.author.username %></strong></a> | <%= post.timeAgo %> ago | Category: <strong><%= post.category %></strong>
        </p>
      </div>
    </div>


    <div class="post-body mt-3" style="word-wrap: break-word; overflow-wrap: break-word;">
      <p><%= post.content %></p>
    </div>
    

    <!-- Like and Favourite Options -->
    <div class="post-actions mt-3">
      <span><%=  post.likes.length %> Likes</span>
    </div>
    <div class="post-actions mt-3">
      <% if(liked){ %>
        <form action="/post/<%=post.id%>/like" method="POST">
      <button class="btn btn-outline-primary me-2" type="submit" >
        <i class="fas fa-thumbs-up"></i> Unlike </span>
      </button>
      </form>
      <% }else{%>
        <form action="/post/<%=post.id%>/like" method="POST">
        <button class="btn btn-outline-primary me-2"   type="submit">
          <i class="far fa-thumbs-up"></i> Like </span>
        </button>
      </form>
        <% }%>
      <button class="btn btn-outline-warning" onclick="favouritePost('<%= post.id %>')">
        <i class="far fa-heart"></i> Favourite 
      </button>
    </div>


    <div class="post-comments mt-4">
      <h5>Comments</h5>
      
      <form action="/comments/<%=post.id%>/comment" method="POST" class="mb-3">
        <div class="mb-2">
          <textarea name="content" id="content" class="form-control" rows="2" placeholder="Write a comment..."></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Post Comment</button>
      </form>


      <div class="comment-list">
        <% comments.forEach(comment => { %>
          <%- include('./comment', { comment }) %>
        <% }) %>
      </div>
    </div>
  </div>
