
<% if (isLoggedIn) { %>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
      <% if (user && user.profilePic && user.profilePic.data) { %>
        <img 
          src="data:image/jpeg;base64,<%= Buffer.from(user.profilePic.data).toString('base64') %>" 
          alt="Profile Avatar"
          width="32"
          height="32"
          class="rounded-circle me-2"
        />
        <% } else { %>
          
        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" width="32" >
      <% } %>
      <% if (user.username) { %>
        <p style="color:black"><%= user.username %></p>
      <% } %>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item" href="/profile/favorites/<%= user.username %>">Favorites</a></li>
      <li><a class="dropdown-item" href="/profile/settings/<%= user.username %>">Settings</a></li>
      <li><a class="dropdown-item" id="profile" href="/profile/<%= user.username %>">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><form action="/signout" method="POST">
          <button class="dropdown-item" type="submit">Sign out</button>
          </form>
      </li>
    </ul>
  </div>
<% } else { %>
  <a class="btn btn-sm btn-outline-secondary" href="/signin">Sign in</a>
<% } %>




