<div class="d-flex text-muted pt-2 pb-2 border-bottom">
    <div class="flex-shrink-0 me-3">
      <% if (user.profilePic.toString('base64') === '') { %>
        <img src="/photos/avatar7.png" width="80" height="80">
      <% } else { %>
        
        <img 
          src="data:image/jpeg;base64,<%= user.profilePic.toString('base64') %>" 
          alt="Profile Image" width="80" height="80" style="object-fit: cover;">
        
      <% } %>
    </div>

    <div class="flex-grow-1 d-flex flex-column justify-content-center">
      <strong class="d-block text-primary fs-5 mb-1">
        <a href="/profile/<%= user.username %>" class="text-decoration-none text-dark"><%= user.username %></a>
      </strong>
      <p class="mb-0 text-secondary small">
        Info: <%= user.bio %>
      </p>
    </div>
  
    <div class="ms-auto d-flex align-items-center">
        <p>found: <%= searchTerm %></p>
      </div>
  </div>