<div class="d-flex text-muted pt-2 pb-2 border-bottom">

    <div class="flex-shrink-0 me-3">
      <% if (post.image) { %>
        <img class="rounded-custom" 
          src="data:image/jpeg;base64,<%= post.image.toString('base64') %>" 
          alt="Dream Image" width="80" height="80" style="object-fit: cover;">
      <% } else { %>
        <img class="rounded-custom" 
          src="photos/thumbnail.png" 
          alt="Default Image" width="80" height="80" style="object-fit: cover;">
      <% } %>
    </div>
  

    <div class="flex-grow-1 d-flex flex-column justify-content-center">
      <strong class="d-block text-primary fs-5 mb-1">
        <a href="/post/<%= post._id %>" class="text-decoration-none text-dark"><%= post.title %></a>
      </strong>
      <p class="mb-0 text-secondary small">
        Posted <%= post.timeAgo %> by <a href="/profile/<%= post.authorId %>" class="text-decoration-none text-secondary"><%= post.author.username %></a>
      </p>
    </div>
  
    <div class="ms-auto d-flex align-items-center">
        <p>found: <%= searchTerm %></p>
      </div>
  </div>